<template>
  <div>
    Home
    <base-button
      :loading="false"
      :block="true"
      type="submit"
    >
      Login
    </base-button>
  </div>
</template>
<script>
export default {
  name: 'HomePage'
}
</script>
<style lang="">
</style>
