<template lang="">
  <b-button
    :size="size"
    :block="block"
    :disabled="loading"
    :variant="color"
    :type="type"
    @click="type === 'button' ? action() : null"
  >
    <span v-if="loading"><b-spinner small /> Cargando...</span>
    <slot v-else />
  </b-button>
</template>
<script>
export default {
  name: 'base-button',
  props: {
    action: {
      type: Function
    },
    size: {
      type: String,
      default: 'md'
    },
    color: {
      type: String,
      default: 'primary'
    },
    type: {
      type: String,
      default: 'button'
    },
    loading: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: false
    }
  }
}
</script>
